# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
import numpy as np
import pandas as pd

In [3]:
recipes = pd.read_csv('recipes_sample.csv', delimiter=',', parse_dates = ['submitted'])
reviews = pd.read_csv('reviews_sample.csv', delimiter=',', index_col = 0)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [4]:
print('recipes')
print('количество точек данных (строк) = ',recipes.shape[0])
print('количество столбцов = ', recipes.shape[1])
print('тип данных каждого столбца:', recipes.dtypes, sep = '\n')

recipes
количество точек данных (строк) =  30000
количество столбцов =  8
тип данных каждого столбца:
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

In [5]:
print('reviews')
print('количество точек данных (строк) = ',reviews.shape[0])
print('количество столбцов = ', reviews.shape[1])
print('тип данных каждого столбца:', reviews.dtypes, sep = '\n')

reviews
количество точек данных (строк) =  126696
количество столбцов =  5
тип данных каждого столбца:
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [6]:
print('recipes')
print('количество столбцов с пропусками = ', recipes.shape[1]-recipes.dropna(axis = 1).shape[1])
print('доля строк, содержащих пропуски, в отношении к общему количеству строк = ', (recipes.shape[0]-recipes.dropna(axis = 0).shape[0])/recipes.shape[0])

recipes
количество столбцов с пропусками =  3
доля строк, содержащих пропуски, в отношении к общему количеству строк =  0.5684666666666667

In [7]:
print('reviews')
print('количество столбцов с пропусками = ', reviews.shape[1]-reviews.dropna(axis = 1).shape[1])
print('доля строк, содержащих пропуски, в отношении к общему количеству строк = ', (reviews.shape[0]-reviews.dropna(axis = 0).shape[0])/reviews.shape[0])

reviews
количество столбцов с пропусками =  1
доля строк, содержащих пропуски, в отношении к общему количеству строк =  0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [8]:
print('среднее значение для каждого из числовых столбцов recipes:')
print(recipes[['minutes', 'n_steps', 'n_ingredients']].mean(axis = 0))

среднее значение для каждого из числовых столбцов recipes:
minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

In [9]:
print('среднее значение для каждого из числовых столбцов reviews:')
print(reviews[['rating']].mean(axis = 0))

среднее значение для каждого из числовых столбцов reviews:
rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [10]:
pd.Series(recipes.name.sample(10))

6889                        christmas corn bake
20649    pf chang s shrimp with candied walnuts
12746                   green rice  arroz verde
27982            triple berry cranberry delight
12362                     grandads pasta  sauce
28059                      true belgian waffles
19175                        one pan pork chops
9641         dried cherry almond filled cookies
12884         grilled fish with cumin lemon rub
23166          salami and cream cheese sandwich
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [11]:
reviews.index = np.arange(reviews.shape[0])
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [12]:
recipes[(recipes.minutes<=20) & (recipes.n_ingredients<=5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [13]:
recipes.submitted = pd.to_datetime(recipes.submitted)
recipes.submitted

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [14]:
recipes[pd.DatetimeIndex(recipes.submitted).year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [15]:
recipes['description_length'] = recipes.description.str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [16]:
recipes.name.str.title()

0               George S At The Cove  Black Bean Soup
1                  Healthy For Them  Yogurt Popsicles
2                        I Can T Believe It S Spinach
3                                Italian  Gut Busters
4            Love Is In The Air  Beef Fondue   Sauces
                             ...
29995    Zurie S Holey Rustic Olive And Cheddar Bread
29996            Zwetschgenkuchen  Bavarian Plum Cake
29997     Zwiebelkuchen   Southwest German Onion Cake
29998                                     Zydeco Soup
29999          Cookies By Design   Cookies On A Stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [17]:
recipes['name_word_count'] = pd.Series(len(element) for element in recipes.name.str.split())
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [34]:
recipes.groupby(by = 'contributor_id').count()
recipes.groupby(by = 'contributor_id').count().idxmax()

name                  89831
id                    89831
minutes               89831
submitted             89831
n_steps               89831
description           89831
n_ingredients         89831
description_length    89831
name_word_count       89831
dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [35]:
recipes.groupby(by = pd.DatetimeIndex(recipes.submitted).year).count()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
submitted,,,,,,,,,,
1999,275,275,275,275,275,164,150,203,150,275
2000,104,104,104,104,104,50,61,69,61,104
2001,589,589,589,589,589,360,507,417,507,589
2002,2644,2644,2644,2644,2644,1652,2406,1873,2406,2644
2003,2334,2334,2334,2334,2334,1481,2228,1646,2228,2334
2004,2153,2153,2153,2153,2153,1309,2142,1526,2142,2153
2005,3130,3130,3130,3130,3130,1995,3124,2196,3124,3130
2006,3473,3473,3473,3473,3473,2210,3469,2437,3469,3473
2007,4429,4429,4429,4429,4429,2752,4427,3090,4427,4429
2008,4029,4029,4029,4029,4029,2546,4027,2841,4027,4029
2009,2963,2963,2963,2963,2963,1821,2959,2081,2959,2963
2010,1538,1538,1538,1538,1538,961,1538,1086,1538,1538
2011,922,922,922,922,922,565,922,668,922,922
2012,659,659,659,659,659,422,659,447,659,659
2013,490,490,490,490,490,344,490,365,490,490
2014,139,139,139,139,139,93,139,89,139,139
2015,42,42,42,42,42,30,42,27,42,42
2016,24,24,24,24,24,16,24,16,24,24
2017,39,39,39,39,39,24,39,28,39,39
2018,24,24,24,24,24,15,24,15,24,24

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [36]:
fulldataframe = pd.merge(recipes[['id','name']], reviews[['user_id','rating','recipe_id']], left_on='id', right_on='recipe_id')[['id', 'name', 'user_id', 'rating']]
fulldataframe

            id                                    name  user_id  rating
0        44123   george s at the cove  black bean soup   743566       5
1        44123   george s at the cove  black bean soup    76503       5
2        44123   george s at the cove  black bean soup    34206       5
3        67664      healthy for them  yogurt popsicles   494084       5
4        67664      healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             zydeco soup   305531       5
126692  486161                             zydeco soup  1271506       5
126693  486161                             zydeco soup   724631       5
126694  486161                             zydeco soup   133174       5
126695  298512  cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [40]:
fulldataframe_upd = pd.merge(recipes[['id','name']], reviews[['user_id','rating','recipe_id']], left_on='id', right_on='recipe_id')[['recipe_id','name']]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [41]:
recipes = recipes.sort_values(by='name_word_count')
recipes.to_csv('recipes_update')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [42]:
writer = pd.ExcelWriter('fulldataframe.xlsx') 
fulldataframe.to_excel(writer, 'Рецепты с оценками')  
fulldataframe_upd.to_excel(writer, 'Количество отзывов по рецептам')
writer.save()

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3